* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F0E0D1;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.hidden {
  display: none;
}

.main-page-container {
  width: 600px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.container {
  width: 600px;
  height: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.user-btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-btn {
  background-color: #85586F;
  color: white;
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin: .5rem auto;
}

.choose-user {
  margin-top: 1rem;
}

.container {
  width: 600px;
  height: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.header .title {
  text-align: center;
  margin-bottom: .5rem;
}

.header .edit-icon {
  position: fixed;
  right: 20px;
  top: 25px;
}

.header .back-icon, .back-to-application-btn {
  position: fixed;
  left: 20px;
  top: 25px;
}

.row {
  display: flex;
}

form {
  height: 650px;
  min-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container li {
  list-style: none;
  display: flex;
  width: 100%;
}

li .input-container {
  width: 90%;
}

li .checkbox-container {
  width: 10%;
  position: relative;
  top: 25px;
}

.app-inputs {
  margin: .5rem;
}

.app-inputs label{
  margin-left: .25rem;
}

.app-question {
  width: 100%;
  border-radius: 5px;
  height: 2rem;
  padding: .5rem;
  border: 1px solid #CFD4D9;
  background-color: #F6F6F6;
}

.app-inputs .app-question:focus {
  outline: none;
}

.app-inputs textarea {
  resize: none;
  border-radius: 10px;
  background-color: #F6F6F6;
  border: 1px solid #CFD4D9;
  width: 100%;
  height: 100px;
}

.app-inputs textarea:focus {
  outline: none;
}

.app-inputs .input-checkbox {
  position: relative;

}

.btn-container {
  position: fixed;
  height: 4rem;
  width: 100%;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

button, .edit-icon, .back-icon, .table-link, .back-to-application-btn {
  cursor: pointer;
}

button:active, .edit-icon:active{
  transform: translateY(2px);
}

.add-question-btn {
  background-color: #D0B8A8;
  color: white;
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin: 0 auto;
  z-index: 10;
}

.save-btn, .submit-btn {
  background-color: #85586F;
  color: white;
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin: 0 auto;
}

.edit-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.edit-modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  z-index: 20;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  height: 800px;
}

.guard-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.guard-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  z-index: 20;
  padding: 20px;
  border: 1px solid #888;
  height: 170px;
  width: 400px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.new-input-container {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.new-question-label {
  margin: 0 auto;
}

.new-question, .new-input {
  width: 100%;
  display: block;
  border-radius: 5px;
  height: 2rem;
  padding: .5rem;
  border: 1px solid #CFD4D9;
  background-color: #F6F6F6;
  margin: 0;
}

.new-question:focus {
  outline: none;
}

.x-icon {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.new-input-btn-container {
  position: fixed;
  height: 4rem;
  width: 100%;
  right: 0;
  text-align: center;
}

.edit-input-trash-btn {
  position: relative;
  bottom: 0px;
  left: 10px;
  cursor: pointer;
}

.new-input-trash-btn {
  position: relative;
  bottom: 20px;
  left: 10px;
  cursor: pointer;
}


.options-header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.add-input-btn {
  background-color: #85586F;
  color: white;
  height: 20px;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 1rem;
}

#option-list li {
 list-style: none;
  display: flex;
  width: 100%;
}

.select-dropdown {
  width: 100%;
  display: block;
  border-radius: 5px;
  height: 2rem;
  padding: .5rem;
  border: 1px solid #CFD4D9;
  background-color: #F6F6F6;
  margin: 0;
}

.proceed-btn {
  background-color: #85586F;
  color: white;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  margin-left: 1rem;
}

.cancel-btn {
  background-color: #D0B8A8;
  color: white;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  margin: 0 auto;
}

.guard-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.guard-title {
  text-align: center;
  margin-bottom: .5rem;
}

.submit-modal {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.submit-modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  z-index: 20;
  padding: 20px;
  border: 1px solid #888;
  height: 170px;
  width: 400px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.applications-container {
  width: 95%;
  height: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
}

.table-container {
  width: 100%;
  height: 700px;
  overflow: scroll;
}

.table-container .table {
  margin: 0 auto;
  font-size: 14px;
  border-collapse:separate;
  width: 100%;
}

.table-container .table th, td {
  padding: 8px;
  text-align: left;
}

.table-container .table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.delete-modal {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.delete-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  z-index: 20;
  padding: 15px;
  border: 1px solid #888;
  height: 170px;
  width: 400px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.delete-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.delete-title {
  text-align: center;
  margin-bottom: .5rem;
}

.proceed-delete-btn {
  background-color: #85586F;
  color: white;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  margin-left: 1rem;
}

.cancel-delete-btn {
  background-color: #D0B8A8;
  color: white;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  margin: 0 auto;
}
